.button {
	margin-top:4px;
	border-radius:6px;
}

.label_button {
	margin-bottom:0px;
}


.selector {
	border-radius:20px;
	text-align:center;
	margin-top:4px;
	padding-left:4px;
}

.black {
	background-color:black;
	color:white;
}

.red {
	background-color:red;
	color:white;
}

.blue {
	background-color:blue;
	color:white;
}

.green {
	background-color:green;
	color:white;
}

.alx-center {
	margin-left:8px;
	line-height:42px;
}
